<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="3" name="Test suite" parallel="classes">
    <test name="Tests">
        <classes>
            <class name="tests.CurrencyChangeTest"/>
            <class name="tests.AddItemToCartTest"/>
            <class name="tests.LoginTest"/>
            <class name="tests.LanguageChangeTest"/>
            <class name="tests.CurrencyChangeTest"/>
            <class name="tests.DeleteItemFromCartTest"/>
            <class name="tests.SearchByKeyWordTest"/>
        </classes>
    </test>
</suite>